language: node_js
node_js:
  - 8
sudo: false

branches:
  only:
    - develop

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: _book
  target_branch: master
  on:
    branch: develop

